!!! 5
html
  head
    title Page Title
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.6.1.min.js')
    script(type='text/javascript', src='http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js')
    script(src='/socket.io/socket.io.js')
    script
          window.run = function() {
            var socket = io.connect('http://localhost');
            window.socket = socket;
            socket.on('connect', function() {
              socket.emit('contestant');
              // socket.emit('contestant',{gameId: parseInt(location.pathname.substring(1,location.pathname.length))});
            });
            socket.on('response', function(correct) {
              if (correct) {
                alert('correct');
              } else {
                alert('incorrect');
              }
            });
            socket.on('data', function (data) {
              console.log('data')
              console.log(data.question)
              document.getElementById('question').innerHTML = data.question
              document.getElementById('one').innerHTML = data.q1
              document.getElementById('two').innerHTML = data.q2
              document.getElementById('three').innerHTML = data.q3
              document.getElementById('four').innerHTML = data.q4
            });
            socket.on('answer', function(bool) {
              if (bool) {
                alert('Correct!');
              } else {
                alert('Incorrect');
              }
            });
          }
        
  body(onload='window.run()')
    div(data-role='page')
      div(data-role='header')
        h1 Page Title
      // /header 
      div(data-role='content')
        h2#question Question
        ul(data-role='listview', data-theme='g', data-inset='true')
          li
            a#one(href='javascript:window.socket.emit(\'answer\',1)') Acura
        ul(data-role='listview', data-theme='g', data-inset='true')
          li
            a#two(href='javascript:window.socket.emit(\'answer\',2)') Audi
        ul(data-role='listview', data-theme='g', data-inset='true')
          li
            a#three(href='javascript:window.socket.emit(\'answer\',3)') BMW
        ul(data-role='listview', data-theme='g', data-inset='true')
          li
            a#four(href='javascript:window.socket.emit(\'answer\',4)') BMW
      // /content 
      div(data-role='footer')
        h4 Page Footer
      // /footer 
    // /page 
