html
  head
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/qrcode.js')
    script(src='javascripts/qrcanvas.js')
    script(src='javascripts/master.js')
    link(href='stylesheets/style.css', rel='stylesheet', type='text/css')
  body(onload='run()')
    #sidebar
      h1 Join game!
      a#link http://trivia.com/peter-piper
      #qr_url
    #content
      h1#question What
      ul
        li#q1
        li#q2
        li#q3
        li#q4
