/* http://colorschemedesigner.com/#3r21Tw0w0w0w0 */

body {
  margin: 0px;
}

#sidebar {
  float: left;
  width: 33%;
  height: 100%;
  padding-left: 10px;
  background: #024A68;
}

#qr_url {
  margin: 5px;
  padding: 5px;
}

#content {
  background: #225E79;

  height: 100%;
}