/* http://colorschemedesigner.com/#3r21Tw0w0w0w0 */

/*body {
  margin: 0px;
}

#sidebar {
  float: right;
  width: 33%;
  height: 80%;
  padding-right: 0px;
  padding-top: 100px;
  border-radius:80px / 560px;
  background: #024A68;
}

#join {
	color:red;
	padding-left: 50px;
}

#question {
	color:red;
}

#content {
  background: #225E79;
  padding-top:50px;
  padding-left: 50px;
  height: 80%;
}

#link {
	font-size:150%;
	text-align: center;
}

#loggedin {
	font-size:120%;
	text-align: center;
}

#rightside {
	float:;
	  border-radius:40px / 40px;
	  background: #024A68;
}*/


body {
  margin: 0px;
  background: url(images/background.jpg) center;
}

#sidebar {
  float: right;
  width: 33%;
  height: 100%;
  border-radius:80px / 560px;
}

#join {
  color: #03426A;
  text-align: center;
}

#question {
  color: black;
  text-shadow: 0.08em 0.08em 0.12em black;
}

#questiontext {
  color:#03426A;
}


#content {
  width:100%;
  height: 150%;
}

#link {
  font-size:150%;
  text-align: center;
}

#loggedin {
  font-size:120%;
  text-align: center;
}

