/* http://colorschemedesigner.com/#3r21Tw0w0w0w0 */

body {
  margin: 0px;
}

#sidebar {
  float: right;
  width: 33%;
  height: 80%;
  padding-right: 0px;
  padding-top: 100px;
  border-radius:80px / 560px;
  background: #024A68;
}

#join {
	color:red;
	padding-left: 50px;
}

#question {
	color:red;
}

#content {
  background: #225E79;
  padding-top:50px;
  padding-left: 50px;
  height: 80%;
}

#link {
	font-size:150%;
	text-align: center;
}

#loggedin {
	font-size:120%;
	text-align: center;
}

#rightside {
	float:;
	  border-radius:40px / 40px;
	  background: #024A68;
}